@import "tailwindcss";

body {
  background: linear-gradient(to right, #0b0716, #120d26, #0b0716);
  font-family: var(--font-poppins), sans-serif;
}

@import "tailwindcss";

body {
  background: linear-gradient(to right, #0b0716, #120d26, #0b0716);
  font-family: var(--font-poppins), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #0b0716; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1e2939; /* Scroll thumb color */
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e2939; /* Lighter color on hover */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e2939 #0b0716;
}
